* {
    margin: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:180px 0;

}

.header-content {
    text-align: right;
    width: 100%;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: white;
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
    padding-bottom: 24px;
}

.header-description {
    margin: 0 230px 32px 1000px;
    color: white;
}

.header-btn button {
    padding: 21px 26px;
    margin: 0 230px 166px 1210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
}