* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1072px;
    margin: 0 auto;
}

/* header styles */
header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;

}

.header-content {
    text-align: right;
    width: 100%;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: white;
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
    padding-bottom: 24px;
}

.header-description {
    margin: 0 230px 32px 1000px;
    color: white;
}

.header-btn button {
    padding: 21px 26px;
    margin: 0 230px 166px 1210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
}

/* failure section styles */
.failure-container {
    display: flex;
    align-items: center;
    gap: 87px;
    margin-top: 131px;

}

.failure-description h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description p {
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-description ul li {
    list-style-type: none;
    margin-left: -43px;
    line-height: 26px;
    color: #444343;
}

.failure-section {
    margin-bottom: 129px;
}

/* plans section styles */
.plans-section{
    margin-bottom: 130px;
}
.plans-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
}

.plans {
    text-align: center;
}

.plans img {
    margin-bottom: 24px;
    width: 92.96px;
    height: 92.96px;
}

.plans h5 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 16px;
    color: #151414;
}

.plans p {
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color:  #737272;;
}